@charset "utf-8";




/* Main  */


html {
}

body {
	background-image: url("../IMG/vintage-concrete.png");
}


a:link{
	color: #83110F;
}

a:visited{
	color: #83110F;
}

a:hover{
	color: black;
	
}

a:active{
	color: blue;
}







commentedout {
	border: 3px solid red;
	box-sizing: border-box;
}






h1{
	color: #83110F;
}
h2{
	color: #83110F;
}
h3{
	color: #232424;
}
.newitem{
	color: red;
}



/* Standard table to data*/
.dataTable {

}
.dataTable th {

}
.dataTable td {

}






/* Top Nav  - Add background color*/
.nav {
    background-color: #232424;
}
.nav a {
    color: #D1D1BA;
}
.nav a:hover {
    background-color: #83110F;
    color: #D1D1BA;
}
.nav a.active {
    background-color: #4CAF50;
    color: white;
}


.leftmenu a:hover {
    background-color: #83110F;
    color: #D1D1BA;
}





/* Banners */
#MalifauxLogo {
	height: 150px; 
	width: 500px;
	margin: 0 auto; 
	background-image: url("../IMG/GSBanner.png"); 
} 

#GSBanner {
	height: 155px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 0px;
	margin: 0 auto; 
	background-image: url("../IMG/GSBanner.png");
	background-repeat: no-repeat;
	background-color: #232424;
	background-position: center;
	vertical-align: auto;
} 










